@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: hsl(0, 0%, 96%);
}

#header {
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(2, 6, 23, 0.075);
    padding: 0.5rem;
}

.wrap {
    display: flex;
    gap: 10px;
    max-width: 1300px;
    margin: auto;
}

.header-btn {
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.header-btn:hover {
    background-color: #f1f5f9;
    color: #2196f3;
}

.header-btn.active {
    background-color: #f1f5f9;
    color: #2196f3;
}

#questions div {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
}

#submit {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #45a049;
}

#results p {
    margin-bottom: 10px;
}

#sidebar {
    position: fixed;
    right: 50px;
    top: 0;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #eee;
    color: #000;
    border: 1px solid #ccc;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

.sidebar-btn:hover {
    background: #2196f3;
    color: #fff;
}

.sidebar-btn.active {
    background: #2196f3;
    color: #fff;
}

.sidebar-btn.answered {
    background: #4caf50;
    color: #fff;
}

#main-content {
    width: 100%;
    max-width: 1300px;
    margin: 50px auto;
}

@media (max-width: 400px) {
    #sidebar {
        display: none;
    }

    .sidebar-btn {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
}
